<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="Sign.css" />
    <title>Meeeteor - sign-in</title>
    <link
      rel="icon"
      href="https://seeklogo.com/images/M/meteor-logo-513B96BFB2-seeklogo.com.png"
    />

    <script>
      const SignInId = "<%= signInId %>";
    </script>
    <link rel="stylesheet" href="Sign-in.css" />
  </head>
  <body>
    <body>
      <div class="container">
        <div class="container__body">
          <div class="container__bodyRight">
            <form action="/sign-in" id="form" method="post">
              <label for="email">Email</label>
              <input
                id="email"
                type="email"
                name="email"
                value="<%= typeof email != 'undefined' ? email : ''%>"
                
                placeholder="enter your email here..."
              />
              <label for="password">Password</label>
              <input
                id="password"
                type="password"
                name="password"
                minlength="6"
                value="<%= typeof password != 'undefined' ? '' : ''%>"
                placeholder="enter your password here..."
              />
              <button id="signinBtn" class="signinBtn">Sign in</button>
            </form>
            <p>create an <a href="sign-up">account?</a></p>
          </div>
        </div>
      </div>

    </body>
  </body>
</html>
